<h1>{{title}}</h1>
<p>Welcome to {{title}}</p>
<div class="form-group shadow-textarea">
  <label for="textToAnalyze">Enter some text or paragraph</label>
  <textarea class="form-control z-depth-1" id="textToAnalyze" rows="3" placeholder="Write something here..."></textarea>
</div>
<div class="btn-div-wrapper">
    <button class="btn btn-primary text-analyze-submit">Submit</button>
</div>
